html, body {
  font-family: 'JetBrains Mono';
    display: flex;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h1 {
  text-align: center;
  font-size: 46px;
  width: 100%;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/jetbrains-mono-v6-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/jetbrains-mono-v6-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}